.super-mario {
    position: absolute;
    width: 200px;
  }
  
  .goomba {
    position: absolute;
    top: 375px;
    width: 100px;
  }
  
  .baloon {
    position: absolute;
    top: 100px;
    left: 200px
  }
  
  .speach {
    position: absolute ;
    font-size: 25px;
    z-index: 1;
    top: 125px;
    left: 225px;
  }
  
  .bowser {
    position: absolute;
    top: 200px;
    left: 475px;
    width: 200px;
  }